<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ason.movievault.mapper.actor.ActorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ason.movievault.entity.Actor">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="image_url" property="imageUrl" />
        <result column="source_image_url" property="sourceImageUrl" />
        <result column="source_url" property="sourceUrl" />
        <result column="status" property="status" />
        <result column="is_favorite" property="isFavorite" />
        <result column="birth_date" property="birthDate" />
        <result column="profile" property="profile" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, image_url, source_image_url, source_url, status, is_favorite, birth_date, profile, created_at, updated_at
    </sql>

</mapper>
