<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ason.movievault.mapper.movie.MagnetMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ason.movievault.entity.Magnet">
        <id column="id" property="id" />
        <result column="movie_id" property="movieId" />
        <result column="movie_code" property="movieCode" />
        <result column="magnet_link" property="magnetLink" />
        <result column="magnet_hash" property="magnetHash" />
        <result column="title" property="title" />
        <result column="size" property="size" />
        <result column="share_date" property="shareDate" />
        <result column="is_hd" property="isHd" />
        <result column="is_selected" property="isSelected" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, movie_id, movie_code, magnet_link, magnet_hash, title, size, share_date, is_hd, is_selected, created_at, updated_at
    </sql>

</mapper>
