<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ason.movievault.mapper.movie.MovieActorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ason.movievault.entity.MovieActor">
        <id column="id" property="id" />
        <result column="movie_id" property="movieId" />
        <result column="movie_code" property="movieCode" />
        <result column="actor_id" property="actorId" />
        <result column="actor_name" property="actorName" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, movie_id, movie_code, actor_id, actor_name, created_at, updated_at
    </sql>

</mapper>
