<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ason.movievault.mapper.movie.MovieMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ason.movievault.entity.Movie">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="source_code" property="sourceCode" />
        <result column="title" property="title" />
        <result column="description" property="description" />
        <result column="translated_title" property="translatedTitle" />
        <result column="translated_description" property="translatedDescription" />
        <result column="release_date" property="releaseDate" />
        <result column="duration" property="duration" />
        <result column="director" property="director" />
        <result column="studio" property="studio" />
        <result column="label" property="label" />
        <result column="series" property="series" />
        <result column="poster_url" property="posterUrl" />
        <result column="backdrop_url" property="backdropUrl" />
        <result column="source_url" property="sourceUrl" />
        <result column="source_poster_url" property="sourcePosterUrl" />
        <result column="source_backdrop_url" property="sourceBackdropUrl" />
        <result column="has_115" property="has115" />
        <result column="has_nas" property="hasNas" />
        <result column="status" property="status" />
        <result column="censorship" property="censorship" />
        <result column="rating" property="rating" />
        <result column="is_multi_actor" property="isMultiActor" />
        <result column="is_favorite" property="isFavorite" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, code, source_code, title, description, translated_title, translated_description, release_date, duration, director, studio, label, series, poster_url, backdrop_url, source_url, source_poster_url, source_backdrop_url, has_115, has_nas, status, censorship, rating, is_multi_actor, is_favorite, created_at, updated_at
    </sql>

</mapper>
